<div class="item">
  <div class="Module Pin pinActionBarStickyContainer pinWithSocialCounts summary">
    <div class="pinWrapper">
      <div class="bulkEditPinWrapper"></div>
      <div class="pinImageActionButtonWrapper">
        <div class='leftSideButtonsWrapper'>
          <button class="Button Module ShowModalButton btn hasIcon hasText isBrioFlat primary primaryOnHover repinSmall rounded" type="button">
            <em></em>
            <span class="buttonText">保存 </span>
          </button>
        </div>

        <div class="pinHolder">
          <a class="pinImageWrapper" style="background: #c7e5f8;" >
            <div class="Image Module pinUiImage" style="width: 236px">
              <%= image_tag image.to_s, class: "pinImg fullBleed" %>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
