<div class="App AppBase Module full" data-component-type="17">
  <!-- <div class="DenzelReactBridge Module">
    <div data-reactroot class="skipToContentContainer">
      <button aria-label="コンテンツにスキップ" class="visuallyHidden visuallyHiddenFocusable skipToContentButton Button Module btn hasText" type="button">
        <span class="buttonText">コンテンツにスキップ</span>
      </button>
    </div>
  </div> -->

  <div class="Header Module full" data-component-type="8">
    <div class="headerContainer centeredWithinWrapper">
      <div class="rightHeaderContent">
        <div class="Module RightHeader" data-component-type="8">
          <button class="Module UserNavigateButton merged" data-element-type="40">
            <div class="usernameLink">
              <div class="Image Module profileImage unknownImage">
                <div class="heightContainer">
                  <img src="https://s-media-cache-ak0.pinimg.com/avatars/jun_k83_1429420409_30.jpg" data-load-state="pending" alt="Jun Kimura" data-src="https://s-media-cache-ak0.pinimg.com/avatars/jun_k83_1429420409_30.jpg">
                </div>
              </div>
            </div>
          </button>
          <div class="DenzelReactBridge Module">
            <div style="position:relative;float:right;" data-reactroot="" data-reactid="1" data-react-checksum="-696351297">
              <button class="Button DropdownButton Module NewsConversationsButton block px2 py1" type="button" data-reactid="2">
                <em data-reactid="3"></em>
                <span class="accessibilityText" data-reactid="4">お知らせ</span>
              </button>
              <div class="Badge" style="display:none;" data-reactid="5">0
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leftHeaderContent">
        <a class="Button Module NavigateButton btn hasIcon logoHeader leftRounded rounded" data-element-type="244" data-force-refresh="2" href="/" type="button">
          <em></em>
          <span class="accessibilityText">ホームフィード</span>
        </a>
        <div class="categoriesMenuReactWrapper categoriesMenuExp">
          <div class="DenzelReactBridge Module">
            <div data-reactroot="" data-reactid="1" data-react-checksum="1916786753">
              <div style="position:relative;float:right;" data-reactid="2">
                <div style="position:relative;" data-reactid="3">
                  <a class="Button DropdownButton Module btn categoriesHeader exploreCategoriesMenu" href="/discover/" type="button" data-reactid="4">
                    <em data-reactid="5">                    </em>
                    <span class="accessibilityText" data-reactid="6">トピックや他のリンクを見てみる</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- <a class="featured rounded NavigateButton Module Button btn" href="/discover/" data-reactroot="" data-reactid="1" data-react-checksum="-1208073675">
              <em data-reactid="2"></em>
              <span class="buttonText" data-reactid="3"></span>
            </a> -->
          </div>
        </div>
        <div class="Module SearchForm buttonOnRight guided tokenized" data-component-type="43">
          <form action="/search/" method="GET" name="search">
            <div class="Module TypeaheadField buttonOnRight guided">
              <div class="tokenizedInputWrapper">
                <em></em>
                <div class="Module TokenizedInput guided typeaheadWithTitles">
                  <div class="scrollWrapper" style="overflow-x: hidden;">
                    <ul class="tokensWrapper" style="width: 870px;">
                      <li class="tokenizedItem inputToken" style="width: 870px;">
                        <label>
                          <span class="visuallyHidden">検索</span>
                          <input autocomplete="off" class="Input Module field" data-element-type="227" name="q" placeholder="検索">
                        </label>
                      </li>
                    </ul>
                  </div>
                  <a class="removeAll hidden">
                    <em></em>
                  </a>
                </div>
              </div>
              <div class="Module Typeahead buttonOnRight guided typeaheadWithTitles">
                <ul class="results" data-component-type="35">
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="Module SearchAutocorrect">
    </div>
  </div>

  <div class="appContent" role="main">
    <div class="mainContainer">
      <div class="Module Nags">

      </div>
      <div class="HomePage Module">
        <div class="AuthHomePageWrapper Module">
          <div class="AuthHomePage Module">
            <div class="HeroBasicWrapper Module">

            </div>
            <div class="Grid Module hasFooter">
              <div class="GridItems Module animated animated animated animated animated animated animated animated animated animated animated animated animated animated animated animated animated animated animated animated centeredWithinWrapper denzelPrimeEnabled padItems variableHeightLayout" style="height: 2774px;">
                <div class="item ui-draggable ui-draggable-disabled ui-state-disabled" aria-disabled="true" style="top: 0px; left: 0px; transition: none; visibility: visible;">
                  <div class="Module Pin hasAttribution pinActionBarStickyContainer pinWithSocialCounts summary" data-component-type="0">
                    <div class="pinWrapper">
                      <div class="bulkEditPinWrapper">

                      </div>
                      <div class="pinImageActionButtonWrapper">
                        <div class="leftSideButtonsWrapper">
                          <button class="Button Module ShowModalButton btn hasIcon hasText isBrioFlat primary primaryOnHover repinSmall rounded" data-element-type="0" type="button">
                            <em></em>
                            <span class="buttonText">
                              保存
                            </span>
                          </button>
                        </div>
                        <div class="rightSideButtonsWrapper ">
                          <button class="Button DropdownButton Module btn hasIcon isBrioFlat rounded sendSmall sendPinGrid" data-element-type="98" type="button">
                            <em></em>
                            <span class="accessibilityText">送信</span>
                          </button>
                          <button class="Button LikeButton Module PinLikeButton btn hasIcon isBrioFlat likeSmall rounded" data-element-type="1" data-source-interest-id="902065567321" type="button">
                            <em></em>
                            <span class="accessibilityText">
                              いいね！
                            </span>
                          </button>
                        </div>
                        <a class="Button Module NavigateButton borderless hasIcon hasText pinNavLink navLinkOverlay" data-element-type="162" href="https://www.etsy.com/ca/listing/262497403/eskimo-recordings-x-jmw-screen-printed?utm_source=OpenGraph&amp;utm_medium=PageTools&amp;utm_campaign=Share" rel="nofollow" type="button">
                          <em></em>
                          <span class="buttonText">
                            <strong>etsy.com</strong> で詳細を見る
                          </span>

                        </a>
                        <div class="pinHolder">
                          <a href="/pin/45106433747864075/" class="pinImageWrapper draggable" data-element-type="35" style="background: #2d2825;">
                            <div class="pinDomain">
                              etsy.com
                            </div>
                            <div class="fadeContainer">
                              <div class="pinImageDim">
                                <div class="dimOverlay"></div>
                                <div class="dimGradient"></div>
                              </div>
                              <div class="Image Module pinUiImage" style="width: 236px">
                                <div class="heightContainer" style="padding-bottom: 141.949152%">
                                  <img src="https://s-media-cache-ak0.pinimg.com/236x/62/ea/f2/62eaf2fbf55a32fba48754135430a87f.jpg" class="pinImg fullBleed loaded fade" onload="P.lazy.onImageLoad(this)" alt="Eskimo Recordings x JMW Screen Printed Poster – Holy Models (A2) In collaboration with Belgian record label Eskimo Recordings, we are excited to">
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="pinMetaWrapper">
                        <div class="pinMeta ">
                          <p class="pinDescription">
                            Eskimo Recordings x JMW Screen Printed Poster – Holy Models…
                          </p>
                          <div class="pinAttribution">
                            <a href="/source/etsy.com/" rel="nofollow">
                              Etsy
                            </a>
                          </div>
                        </div>
                        <div class="pinDpSocialCounts">
                          <div class="Module SocialIconsCounts">
                            <div class="pinSocialMeta">
                              <a class="socialItem" href="/pin/45106433747864075/activity/" data-element-type="174">
                                <em class="repinIconSmall"></em>
                                <em class="socialMetaCount repinCountSmall">
                                  <span class="visuallyHidden">保存回数：</span>2.5k
                                </em>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="pinCredits">
                        <div class="pinCreditWrapper ">
                           <button class="Button DropdownButton Module borderless hasIcon hidePinInfo" data-element-type="976" type="button">
                             <em></em>
                             <span class="accessibilityText">詳細</span>
                           </button>
                           <div class="creditItem ">
                             <a href="/cooperepps/graphic-design-posters/">
                               <div class="Image Module creditImg user unknownImage">
                                 <div class="heightContainer">
                                   <img src="https://s-media-cache-ak0.pinimg.com/avatars/cooperepps_1476722645_30.jpg" data-load-state="pending" alt="Graphic Design - Posters" data-src="https://s-media-cache-ak0.pinimg.com/avatars/cooperepps_1476722645_30.jpg">
                                 </div>
                               </div>
                               <div class="pinCreditNameTitleWrapper">
                                 <div class="creditName">
                                   Cooper Epps Design
                                 </div>
                                 <div class="creditTitle">
                                  Graphic Design - Posters
                                 </div>
                               </div>
                             </a>
                           </div>
                         </div>
                         <div class="creditFooter" data-element-type="255">
                           「<a href="/topics/デザイン-902065567321/" class="footerSrc">デザイン</a>」より
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="item ui-draggable ui-draggable-disabled ui-state-disabled" aria-disabled="true" style="top: 810px; left: 260px; transition: none; visibility: visible;">
                   <div class="Module Pin pinActionBarStickyContainer pinWithSocialCounts summary" data-component-type="0">
                     <div class="pinWrapper">
                       <div class="bulkEditPinWrapper">
                       </div>
                       <div class="pinImageActionButtonWrapper">
                         <div class="leftSideButtonsWrapper">
                           <button class="Button Module ShowModalButton btn hasIcon hasText isBrioFlat primary primaryOnHover repinSmall rounded" data-element-type="0" type="button">
                             <em></em>
                             <span class="buttonText">
                               保存
                             </span>
                           </button>
                         </div>
                         <div class="rightSideButtonsWrapper ">
                           <button class="Button DropdownButton Module btn hasIcon isBrioFlat rounded sendSmall sendPinGrid" data-element-type="98" type="button">
                             <em></em>
                             <span class="accessibilityText">送信</span>
                           </button>
                           <button class="Button LikeButton Module PinLikeButton btn hasIcon isBrioFlat likeSmall rounded" data-element-type="1" data-source-interest-id="" type="button">
                             <em></em>
                             <span class="accessibilityText">いいね！</span>
                           </button>
                         </div>
                         <a class="Button Module NavigateButton borderless hasIcon hasText pinNavLink navLinkOverlay" data-element-type="162" href="http://beans.jrtk.jp/musashinakahara/" rel="nofollow" type="button">
                           <em></em>
                           <span class="buttonText">
                             <strong>beans.jrtk.jp</strong> で詳細を見る
                           </span>
                         </a>
                         <div class="pinHolder">
                           <a href="/pin/409123947383708778/" class="pinImageWrapper draggable" data-element-type="35" style="background: #6a9256;">
                             <div class="pinDomain">beans.jrtk.jp</div>
                             <div class="fadeContainer">
                               <div class="pinImageDim">
                                 <div class="dimOverlay"></div>
                                 <div class="dimGradient"></div>
                               </div>
                               <div class="Image Module pinUiImage" style="width: 236px">
                                 <div class="heightContainer" style="padding-bottom: 141.101694%">
                                   <img src="https://s-media-cache-ak0.pinimg.com/236x/4b/d2/03/4bd20364ceffd0e9f77dbf92bade3ff8.jpg" class="pinImg fullBleed loaded fade" onload="P.lazy.onImageLoad(this)" alt="<a href=&quot;http://beans.jrtk.jp/musashinakahara/&quot; rel=&quot;nofollow&quot; target=&quot;_blank&quot;>beans.jrtk.jp/...</a>">
                                 </div>
                               </div>
                             </div>
                           </a>
                         </div>
                       </div>
                       <div class="pinMetaWrapper">
                         <div class="pinMeta ">
                           <p class="pinDescription"></p>
                         </div>
                         <div class="pinDpSocialCounts">
                           <div class="Module SocialIconsCounts">
                             <div class="pinSocialMeta">
                               <a class="socialItem" href="/pin/409123947383708778/activity/" data-element-type="174">
                                 <em class="repinIconSmall"></em>
                                 <em class="socialMetaCount repinCountSmall">
                                   <span class="visuallyHidden">保存回数：</span>166
                                 </em>
                               </a>
                             </div>
                           </div>
                         </div>
                       </div>
                       <div class="pinCredits">
                         <div class="pinCreditWrapper ">
                           <button class="Button DropdownButton Module borderless hasIcon hidePinInfo" type="button">
                             <em></em>
                             <span class="accessibilityText">詳細</span>
                           </button>
                           <div class="creditItem ">
                             <a href="/lupr49/illust/">
                               <div class="Image Module creditImg user unknownImage">
                                 <div class="heightContainer">
                                   <img src="https://s-media-cache-ak0.pinimg.com/avatars/lupr49_1432454133_30.jpg" data-load-state="pending" alt="illust" data-src="https://s-media-cache-ak0.pinimg.com/avatars/lupr49_1432454133_30.jpg">
                                 </div>
                               </div>
                               <div class="pinCreditNameTitleWrapper">
                                 <div class="creditName">Megumi Fujita</div>
                                 <div class="creditTitle">
                                   illust
                                 </div>
                               </div>
                             </a>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="GridFooter Module centeredWithinWrapper showGridLoading" style="display: block;">
                 <div class="gridError" style="display: none;">
                   <button class="Button btn rounded large">
                     <span>エラーが発生しました。</span> 再度お試しください。
                   </button>
                 </div>
                 <div class="gridLoadingWrapper">
                   <hr>
                   <div class="gridLoading">
                     <span class="gridFooterLogoIcon"></span>
                     <span class="gridFooterSpinner"></span>
                   </div>
                 </div>
               </div>
               <div class="seeMoreButtonWrapper">
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
    <div class="appendedContainer">

    </div>
  </div>

  <div class="ActiveConversations Module">
  </div>
  <div class="Module Toasts">
  </div>
  <div class="footerButtonsWrapper">
    <div class="FooterButtons Module visible hide">
      <div class="buttonInoutWrapper addButtonWrapper">
        <button class="Button DropdownButton Module addPinFooter footerIcon borderless hasIcon" data-element-type="18" type="button">
          <em></em>
          <span class="accessibilityText">ピンを保存する</span>
        </button>
      </div>
    </div>
    <div class="buttonInoutWrapper helpButtonWrapper">
      <button class="Button DropdownButton Module borderless hasIcon moreFooter footerIcon" data-element-type="245" type="button">
        <em></em>
        <span class="accessibilityText">もっと見る</span>
      </button>
    </div>
    <div class="buttonInoutWrapper privacyPolicyWrapper">
      <a class="nonEuPrivacyPolicy" href="#">プライバシー</a>
    </div>
  </div>
  <div class="Module NagBase NagNoScript">
    <noscript>
      <div class="centeredWithinWrapper">
            <div class="message">Pinterest を使うには<a href="http://enable-javascript.com/" rel="nofollow"> JavaScript をオンにしてください。</a></div>
      </div>
      <style>
        .NagBase {
          display: none;
        }
      </style>
    </noscript>
  </div>
  <div class="ModalManager Module">
  </div>
</div>
