<div class="Grid Module">
  <div class="GridItems Module centeredWithinWrapper fixedHeightLayout padItems">
    <% if @followers.present? %>
      <%= render partial: "follower", collection: @followers %>
    <% else %>
      <%= render partial: "no_follower" %>
    <% end %>
  </div>
  <div class="seeMoreButtonWrapper"></div>
</div>
