<div class="Grid Module">
  <div class="GridItems Module centeredWithinWrapper fixedHeightLayout padItems">
    <% if @followings.present? %>
      <%= render partial: "following", collection: @followings %>
    <% else %>
      <%= render partial: "no_follow" %>
    <% end %>
  </div>
  <div class="seeMoreButtonWrapper"></div>
</div>
