<div class="userBoards">
  <div class="Grid">
    <div class="GridItems centeredWithinWrapper padItems mb4">
      <% if @user.id == current_user.id %>
        <div class="item" style="display: inline-block; float: none; vertical-align: top;">
          <button class="BoardCreateRep">
            <i></i>
            <span>新規ボードを作成</span>
          </button>
        </div>
      <% end %>
        <%= render partial: "boards/board", collection: @boards if @boards.present? %>
    </div>
  </div>
</div>
