<div class="appContent" role="main">
  <div class="mainContainer">
    <!-- <div class="Module Nags" id="nags416"></div> -->
    <div class="Module UserProfilePage" id="mainModule517">
      <!-- <div class="HeroBasicWrapper Module" id="mainModule517_m1822"></div> -->
      <div class="DenzelReactBridge Module" id="mainModule517_m1918">
        <div data-reactroot="" data-reactid="1" data-react-checksum="-540150576">
          <div class="Module UserProfileHeader profileHeader  " data-reactid="2">
            <div class="centeredWithinWrapper gridWidth headerSizer" data-reactid="3">
              <div class="header emptyProfile" itemscope="" itemtype="https://schema.org/Person" data-reactid="4">
                <div class="profileImage" data-reactid="5">
                  <img alt="drive" itemprop="image" src="https://s.pinimg.com/images/user/default_280.png" data-reactid="6"/>
                </div>
                <div class="fixedHeader" data-reactid="7">
                  <div class="titleBar centeredWithinWrapper gridWidth" data-reactid="8">
                    <div class="fixedHeaderNameAndImage _1lB54" data-reactid="9">
                      <div class="fixedHeaderImage" data-reactid="10">
                        <img alt="drive" src="https://s.pinimg.com/images/user/default_140.png" data-reactid="11"/>
                      </div>
                      <div class="fixedHeaderName" itemprop="name" data-reactid="12">drive</div>
                    </div>
                    <div class="buttons" data-reactid="13">
                      <div style="position:relative;display:inline-block;" data-reactid="14">
                        <button class="Button DropdownButton Module btn rounded userProfileMenu react" type="button" data-reactid="15">
                          <em data-reactid="16"></em>
                          <span class="accessibilityText" data-reactid="17">ユーザーメニュー</span>
                        </button>
                      </div>
                      <div style="float:left;" data-reactid="18">
                        <button aria-label="プロフィールを編集" class="editProfile Button Module btn hasIcon rounded primary" type="button" data-reactid="19">
                          <em data-reactid="20"></em>
                          <span class="accessibilityText" data-reactid="21">プロフィールを編集</span>
                        </button>
                        <%= link_to edit_user_path(current_user), class: "Button Module btn rounded settingsCog" do %>
                          <em></em>
                          <span class="accessibilityText">アカウント設定</span>
                        <% end %>
                        <!-- <a class="Button Module btn rounded settingsCog" href="/settings" data-reactid="22">
                          <em data-reactid="23"></em>
                          <span class="accessibilityText" data-reactid="24">アカウント設定</span>
                        </a> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="profileInfo" data-reactid="25">
                  <div class="aboutBar" data-reactid="26">
                    <div class="about" data-reactid="27">
                      <h1 class="name" data-reactid="28">
                        <div class="nameInner" data-reactid="29">drive</div>
                      </h1>
                      <div class="iconsLinksEtc" data-reactid="30">
                        <ul data-reactid="31">
                          <!-- react-text: 32 -->
                          <!-- /react-text -->
                          <!-- react-text: 33 -->
                          <!-- /react-text -->
                        </ul>
                      </div>
                      <!-- react-text: 34 -->
                      <!-- /react-text -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="DenzelReactBridge Module" id="mainModule517_m2019">
        <div class="Module UserInfoBar centeredWithinWrapper infoBar gridWidth" data-reactroot="" data-reactid="1" data-react-checksum="-964505706">
          <div class="divider centeredWithinWrapper gridWidth" data-reactid="2">
            <hr data-reactid="3"/>
          </div>
          <div class="tabs" data-reactid="4">
            <ul data-reactid="5">
              <li data-reactid="6">
                <a class="active" href="/drivethruprm83/boards/" data-reactid="7">
                  <span data-reactid="8">
                    <span class='value'>0</span>
                    <span class='label'>ボード </span>
                  </span>
                </a>
              </li>
              <li class="PinCount" data-reactid="9">
                <a class="" href="/drivethruprm83/pins/" data-reactid="10">
                  <span data-reactid="11">
                    <span class='value'>0</span>
                    <span class='label'>件のピン</span>
                  </span>
                </a>
              </li>
              <li data-reactid="12">
                <a class="" href="/drivethruprm83/followers/" data-reactid="13">
                  <span data-reactid="14">
                    <span class='value '>0</span>
                    <span class='label '>フォロワー</span>
                  </span>
                </a>
              </li>
              <li data-reactid="15">
                <a class="" href="/drivethruprm83/following/" data-reactid="16">
                  <span data-reactid="17">
                    <span class='value '>5</span>
                    <span class='label '>フォロー中</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="Module UserProfileContent loading" id="UserProfileContent20"></div>
    </div>
  </div>
  <div class="appendedContainer"></div>
</div>
