.AppBase {
  margin-top: -1px;
  min-width: 320px;
  padding-top: 1px;
}

.Header {
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
  position: fixed;
  transition: opacity 1s ease;
  width: 100%;
  height: 64px;
  z-index: 671;

  .headerContainer {
    display: flex;
    overflow: visible;
    position: static;
    width: auto !important;
    height: 40px;
    z-index: 680;

    padding: 12px 16px;
    left: 0;
    right: 0;
    top: 0;

    .rightHeaderContent {
      -webkit-box-ordinal-group: 100000;
      order: 99999;
      -webkit-box-flex: 0;
      flex: none;
    }

    .leftHeaderContent {
      float: none;
      margin-left: 0;
      margin-right: 0;
      padding-right: 0;
      width: auto;
      align-items: center;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      min-height: 0;
      min-width: 0;

      &>.categoriesMenuReactWrapper {
        -webkit-box-ordinal-group: 100000;
        order: 99999;
      }
    }
  }
}

.NavigateButton {
  &.Button.logoHeader, &logoHeader {
    padding: 12px 16px;

    background: none;
    border: none;
    display: block;
    float: none;
    height: auto;
    padding-bottom: 0;
    padding-top: 0;
    width: auto;

    &>em {
      width: 28px;
      height: 28px;
      background: url(spritesheet.png) -339px -226px no-repeat;
    }
    
  }
}

.RightHeader {
  background-color: #fff;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;

  &>.DenzelReactBridge{
    align-items: center;
    display: flex;
  }
}

.UserNavigateButton {
  background: transparent;
  border: none;
  height: auto;
  width: auto;
  box-sizing: border-box;
  color: #818181;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  text-align: left;
  z-index: 104;
  -webkit-font-smoothing: subpixel-antialiased;

  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-top: 6px;

  &::after{
    content: "";
    display: table;
    clear: both;
  }

  &.merged{
    border-bottom-right-radius: 0 0;
    border-top-right-radius: 0 0;
    margin-right: -1px;
  }

  &:hover {
    background: transparent;
    box-shadow: none !important;
    .usernameLink {
      width: 20px;
      height: 24px;
      background: url(spritesheet.png) -313px -310px no-repeat;
    }
  }

  .usernameLink {
    width: 20px;
    height: 24px;
    background: url(spritesheet.png) -247px -310px no-repeat;

    align-items: center;
    display: flex;

    .profileImage{
      display: none;
    }
  }
}

.NewsConversationsButton {
  background: transparent;
  border: none;

  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-top: 6px;

  &:hover {
    box-shadow: none;
    em {
      width: 22px;
      height: 24px;
      background: url(spritesheet.png) -175px -310px no-repeat;
    }
  }

  em{
    width: 22px;
    height: 24px;
    background: url(spritesheet.png) -199px -310px no-repeat;
  }
}

.Badge {
  animation: popBadge .5s ease-out;
  animation-fill-mode: forwards;
  background: #bd081c;
  border-radius: 50%;
  color: #fff;
  content: " ";
  font-size: 10px;
  font-weight: bold;
  height: 16px;
  line-height: 15px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 8px;
  text-align: center;
  top: -2px;
  vertical-align: middle;
  width: 16px;
  z-index: 1000;
}

@keyframes popBadge {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    75% {
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.categoriesHeader {
  background-color: #fff !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
  height: auto !important;

  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-top: 6px;
  display: flex;

  em {
    width: 25px;
    height: 25px;
    background: url(spritesheet.png) -232px -260px no-repeat;
  }
}
.SearchForm {
  position: relative;
  text-align: left;

  &.guided{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;

    padding-left: 16px;
    padding-right: 16px;

    box-sizing: border-box;
    height: auto;
    width: auto;

    &.buttonOnRight{
      margin-right: 0;

    }
  }
  .TypeaheadField{
    &.guided{
      display: block;
      float: none;
      width: 100%;
      &.buttonOnRight{
        .tokenizedInputWrapper {
          padding-left: 44px;
          -webkit-box-align: center;
          align-items: center;
          display: flex;
          box-sizing: border-box;
          height: 40px;
          position: relative;
          z-index: 670;
          border: none;
          border-radius: 4px;
          background-color: #efefef;
        }

        &::before{
          margin-left: 16px;
          margin-right: 8px;
        }
      }
    }
  }
}

.TypeaheadField {
  position: relative;
  &.guided {
    &.buttonOnRight {
      &::before {
        margin-right: 8px;
        margin-left: 16px;

        width: 20px;
        height: 20px;
        background: url(spritesheet.png) -376px -108px no-repeat;
        content: " ";
        margin-top: 10px;
        position: absolute;
        z-index: 999999999;
      }
      .tokenizedInputWrapper {
        display: flex;
        -webkit-box-align: center;
        align-items: center;

        padding-left: 44px;
      }
    }
    .tokenizedInputWrapper {
      box-sizing: border-box;
      height: 40px;
      position: relative;
      z-index: 670;
    }
  }
  .tokenizedInputWrapper {
    background-color: #efefef;
    border: none;
    border-radius: 4px;
  }
}

.TokenizedInput{
  &.guided{
    width: 100%;
    margin-right: 30px;
    overflow: hidden;
    &.typeaheadWithTitles {
      margin-left: 0;
    }
    .tokensWrapper {
      width: 100%;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      left: 0;
      overflow: visible;
      position: relative;
      transition-duration: .25s;
      transition-property: left;
      cursor: text;
      .tokenizedItem {
        margin: 0;
        padding-left: 8px;
        vertical-align: middle;
        height: auto;
        &.inputToken {
          -webkit-box-flex: 1;
          flex: 1 1 auto;
          min-height: 0;
          min-width: 0;
          width: auto;
          .field {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            // color: #a7a7a7;
            font-size: 16px;
            font-weight: 600;
            // height: 32px;
            line-height: 20px;
            // padding: 6px 0 6px 4px;
            height: auto;
            padding: 0;
            &:focus {
              color: #333;
            }
          }
        }
      }
    }
    .removeAll {
      border-radius: 0 6px 6px 0;
      cursor: pointer;
      // display: inline-block;
      margin-top: -6px;
      position: absolute;
      right: 10px;
      top: 50%;
      transition: display 1s linear;
      &.hidden {
        display: none;
      }
      em {
        width: 12px;
        height: 12px;
        background: url(spritesheet.png) -224px -194px no-repeat;
        float: left;
      }
      &:hover {
        em {
          width: 12px;
          height: 12px;
          background: url(spritesheet.png) -405px -378px no-repeat;
        }
      }
    }
  }
  .scrollWrapper {
    overflow: hidden;
  }
  .tokenizedItem {
    overflow: hidden;
    color: #000;
    display: inline-block;
    // height: auto;
    // margin: 3px;
    white-space: nowrap;
  }
  .tokensWrapper{
    cursor: text;
    float: left;
    min-height: 1px;
    white-space: nowrap;
    input {
      background: transparent;
      border: 0;
      box-shadow: none;
      &:focus {
        outline: none;
      }
    }
  }

  // .tokensWrapper{
  //
  //
  //   .tokenizedItem{
  //     height: auto;
  //     margin: 0;
  //     padding-left: 8px;
  //     vertical-align: middle;
  //     .inputToken {
  //       width: auto;
  //       -webkit-box-flex: 1;
  //       flex: 1 1 auto;
  //       min-height: 0;
  //       min-width: 0;
  //     }
  //   }
  // }
  //
  // .field{
  //   height: auto;
  //   padding: 0;
  //   -webkit-font-smoothing: antialiased;
  //   // -moz-osx-font-smoothing: grayscale;
  //   color: #a7a7a7;
  //   font-size: 16px;
  //   font-weight: 600;
  //   // height: 32px;
  //   line-height: 20px;
  // }
}


.centeredWithinWrapper {
  margin: 0 auto;
}

.Input {
  overflow: hidden;
  // border-top: 1px solid #dfdfdf;
  // padding: 15px 21px 15px 27px;
  // background-color: #f3f3f3;
  // background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#f5f5f5));
  // background: -webkit-linear-gradient(#f0f0f0, #f5f5f5);
  // background: linear-gradient(#f0f0f0, #f5f5f5);
  // -webkit-box-sizing: border-box;
  // box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  // border: 1px solid #d6d3ce;
  // -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.12) inset;
  // box-shadow: 0 0 3px rgba(0,0,0,0.12) inset;
  // color: #333;
  // font-size: 14px;
  // padding: 7px;
}
