// ピンアップロードモーダル
.Modal {
  position: fixed;
  top: 0;
  z-index: 751;

  .modalMask {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #e2e4e4;
    opacity: .9;
    position: fixed;
  }

  .modalScroller {
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }

  .modalContainer {
    min-height: 0;
    position: relative;
    text-align: center;
  }

  &.absoluteCenter .modalScroller {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .modalContent {
    -webkit-transform: translateZ(0);
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    display: inline-block;
    margin: 20px auto;
    opacity: 0;
    position: relative;
    text-align: left;
  }

  .modalContent, &.webNewContentNewRepin .modalContent {
    border-radius: 8px;
    box-shadow: none;
  }

  &.show .modalContent {
    opacity: 1;
    transform: scale(1);
  }

  &.webNewContentNewRepin {
    .modalContent {
      background: transparent;
    }

    .closeModal {
      display: none;
    }
  }

  .formFooter {
    background: #fff;

    .Button.rounded:not(.primary) {
      background-image: none !important;
      border: none !important;
      border-radius: 4px !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      padding: 10px 14px !important;
      position: relative !important;
      text-shadow: none !important;
      background-color: #efefef !important;

      .buttonText {
        -webkit-font-smoothing: antialiased;

        font-size: 14px;
        letter-spacing: -0.15px;
        line-height: 16px;
        word-spacing: 0;

        font-weight: bold;
        color: #555 !important;
      }
    }

    .Button.primary {
      background-image: none !important;
      border: none !important;
      border-radius: 4px !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      padding: 10px 14px !important;
      position: relative !important;
      text-shadow: none !important;

      background-color: #bd081c !important;

      .buttonText {
        font-size: 14px;
        letter-spacing: -0.15px;
        line-height: 16px;
        word-spacing: 0;

        color: #fff !important;
      }
    }
  }

}

.PinUploader {
  width: 320px;
}

.ImageUploader {
  background-color: #f3f3f3;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#f9f9f9));
  background: -webkit-linear-gradient(#ededed, #f9f9f9);
  background: linear-gradient(#ededed, #f9f9f9);
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  padding: 15px 20px;
  position: relative;

  div.Button {
    box-sizing: border-box;
    text-align: center;
  }

  .uploaderProgress {
    overflow: hidden;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.31) inset;
    height: 31px;
    position: relative;
    top: -1px;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #333;
      display: block;
      float: left;
      font-size: 14px;
      margin-left: 7px;
      margin-top: 4px;
      padding: 3px;
    }
  }
}

.TwoPaneModal {
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  max-height: 660px;
  min-height: 490px;
  width: 660px;

  .twoPaneClose {
    padding: 10px;
    position: absolute;
    z-index: 2;

    padding: 10px;
    right: 14px;
    top: 18px;
  }

  .pane {
    height: inherit;
    overflow: hidden;

    bottom: 0;
    top: 0;
    width: 50%;

    &.right {
      position: relative;
    }
  }

  .left.pane {
    border-radius: 6px 0 0 6px;
  }

  .right.pane {
    background-color: #fff;
    border-radius: 0 6px 6px 0;
  }
}

// .BoardCreate {
//   width: 600px;
// }

.PinCreate {
  background: #d9d9d9;
  border-radius: 6px;
  position: relative;

  height: 535px;
  width: 660px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &.TwoPaneModal .left.pane {
    background: #fff;
    border-right: 1px solid #efefef;
  }

  .pinContainer {
    bottom: 0;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 330px;

    .pinModuleHolder {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .Pin {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .BoardCreate {
    border-left: 1px solid #efefef;

    background: #fff;
    border-radius: 0 6px 6px 0;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;

    form {
      height: 100%;
      position: relative;

      &>ul>li {
        border-top: 1px solid #efefef;
        padding: 16px 25px 13px;
      }
    }

    &.multiSelect form>ul>li {
      padding: 10px;
    }

    h3 {
      margin-bottom: 4px;
    }

    label {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #c2c2c2;
      font-size: 11px;
      font-weight: normal;
      letter-spacing: .05em;
      text-transform: uppercase;
    }

    input, .TypeaheadField.userSelect input, textarea {
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-size: 14px;
      outline: none;
      width: 100%;
    }

    input {
      padding-bottom: 5px;
    }

    textarea {
      resize: none;
    }

    .boardEditName {
      color: #333;
      font-size: 15px;
    }

    .formFooter {
      background: transparent;
      border-radius: 0 0 6px;
      border-top: 1px solid #efefef;
      bottom: 0;
      left: 0;
      padding: 25px;
      position: absolute;
      right: 0;

      .formFooterButtons {
        float: none;

        .cancelButton {
          float: left;
        }

        .saveBoardButton {
          float: right;

          &.disabled {
            background-color: #efefef !important;
          }
        }
      }

      .btn {
        margin-left: 0;
        &.btn.disabled.disabled.Button.primary {
          border: none !important;
        }
      }
    }
  }

  .BoardCreate h1, .pinCreateTitle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    clear: both;
    color: #555;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 25px 25px 13px;
  }

  .titleContainer {
    border-top-right-radius: 6px;
    width: 330px;

    .pinCreateTitle {
    padding: 25px 25px 13px;
    }
  }

  .createButton {
    display: none;
  }

  .nameWrapper {
    position: relative;
  }

  .searchFilterInputIcon {
    width: 15px;
    height: 15px;
    background: url(webapp-common-main-1x.png) -295px -246px no-repeat;
    margin-top: -7px;
    position: absolute;
    top: 50%;
  }

  .Input.name {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f6f6f6;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
    padding: 13px;
  }

  .SelectList {
    border-bottom-right-radius: 6px;
  }

  .sectionHeading {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555;
    font-size: 14px;
    letter-spacing: -.22px;
    padding: 10px 23px;
  }

  .Picker .item {
    border-radius: 0;
  }

  .BoardPicker .BoardLabel {
    width: 100%;
  }

  // .PinCreateBoardPicker {
  //   // bottom: 0;
  //   // left: 0;
  //   // right: 0;
  //   // top: 0;
  //   // position: absolute;
  // }

  .BoardIcons {
    height: auto;
  }

  .allBoards {
    background: #fff;
    border-bottom: 1px solid #efefef;
  }

  .Checkbox.fancyToggle {
    background: #f8f8f8;
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 70px;

    .slider {
      background-image: none;
      border-color: #dfdfdf;
      border-radius: 50px;
      bottom: -1px;
      -webkit-box-shadow: none;
      box-shadow: none;
      height: auto;
      left: -1px;
      top: -1px;
      width: 27px;
    }
  }
}

.BoardEditBase .boardEditDescription {
  min-height: 58px;
}

.BoardEditBase.simple .descriptionWrapper, .BoardEditBase.simple .categoryWrapper, .BoardEditBase.simple .mapToggleWrapper {
  display: none;
}

.formFieldMessage {
  font-size: 13px;
}

.PinCreatePin {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.PinCreateBoardPicker {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;

  .boardsWrapper {
    -webkit-transform: translateZ(0);
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    overflow-y: auto;

    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    bottom: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 330px;

    .nameWrapper {

      .searchFilterInputIcon {
        left: 36px;
      }

      input.name {
        margin-left: 23px;
        padding-left: 44px;
        width: 284px;
      }
    }
  }

  .BoardPicker {
    width: 100%;
  }

  .Picker {
    .top {
      border-bottom: 1px solid #f3f3f3;
      margin-bottom: 0;
      overflow: inherit;
      padding-bottom: 15px;
    }

    .item {
      &:hover, &.selected {
        background: #f7f7f7;
        color: #555;

        .repinBtn {
          display: block;
        }
      }
      padding: 7px 23px;
    }
  }

  .nameAndIcons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555;
    font-weight: bold;
    letter-spacing: -.25px;
  }
}

.BoardPicker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  visibility: hidden;

  .bottom {
    padding: 7px 0;
    width: 100%;

    .createBoard {
      padding: 7px 23px;
    }
  }

  .SelectList {
    overflow: auto;
  }
}

.BoardLabel {
  text-align: left;

  &.compact {
    font-size: 13px;
  }

  &.pinCreate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 36px;

    .repinBtn {
      display: none;
      float: right;
      margin-left: 7px;
      margin-top: 1px;
      position: relative;
      z-index: 1;

      &.isBrioFlat {
        margin-top: 0;
      }
    }

    .boardImg {
      border-radius: 3px;
      float: left;
      height: 36px;
      margin-right: 10px;
      vertical-align: middle;
      width: 36px;

      box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
    }
  }
  .emptyBoardImg {
    width: 34px;
    height: 34px;
    background: url(webapp-common-main-1x.png) -155px -97px no-repeat;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .nameAndIcons {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;
      width: auto;
    }
  }

  .BoardIcons {
    float: right;
    max-width: 20%;
  }
}

.BoardIcons {
  display: inline-block;
}

.Picker {
  .createButton {
    float: right;
  }

  .nameWrapper {
    overflow: hidden;
    padding-right: 10px;
  }

  .selectionBody {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding-bottom: 7px;
  }

  .item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 6px;
    color: #555;
    cursor: pointer;
    padding: 6px 13px;
  }
}

.PickerItemCreate.pinCreate {
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -.25px;
  line-height: 35px;

  .icon {
    width: 36px;
    height: 36px;
    background: url(webapp-common-main-1x.png) 0px -176px no-repeat;
    display: block;
    float: left;
    margin-right: 12px;
    vertical-align: middle;
  }
}

.PinCreateShare {
  bottom: -32px;
  left: 0;
  position: absolute;
}

// パスワード編集モーダル
.Modal__Overlay {
  -webkit-box-align: center;
  align-items: center;
  // background-color: rgba(226,228,228,0.9);
  bottom: 0;
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -ms-flexbox;
  display: none;
  left: 0;
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 751;

  background-color: rgba(0,0,0,0.6);
  opacity: 1;
}

.Modal__Content {
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  margin: auto;
  max-height: 100%;
  position: relative;

  .formFooter {
    background: #fff;

    .Button.rounded:not(.primary) {
      background-image: none !important;
      border: none !important;
      border-radius: 4px !important;
      // -webkit-box-shadow: none !important;
      box-shadow: none !important;
      padding: 10px 14px !important;
      position: relative !important;
      text-shadow: none !important;

      .buttonText {
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        letter-spacing: -0.15px;
        line-height: 16px;
        word-spacing: 0;

        font-weight: bold;

        color: #555 !important;
      }
    }
  }
}

.UserChangePassword {
  width: 530px;
}

.inModal {
  .standardForm {
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 0;
    width: auto;

    &>h1 {
      border-bottom: 1px solid #e7e7e7;
      color: #333;
      font-size: 20px;
      margin: 0;
      min-height: 20px;
      padding: 17px 18px 13px 18px;
      position: relative;
    }

    &>ul>li {
      padding-left: 18px;
      padding-right: 21px;

      &>h3 {
        width: 130px;
      }

      &>div {
        margin-left: 140px;
      }
    }
  }
}

.modalHasClose {
  .standardForm {
    &>h1 {
      padding-right: 50px;
    }
  }
}

.Button.closeModal, .Button.closeDialog {
  margin: -6px;
  padding: 6px;
  position: absolute;
  right: 18px;
  top: 22px;

  em {
    width: 12px;
    height: 12px;
    background: url(webapp-common-main-1x.png) -261px -242px no-repeat;
  }
}

.noScroll{
  overflow: hidden;
}

.ReactModal {
  &__Body--open {
    overflow: hidden;
  }
  &__Overlay {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(226,228,228,0.9);
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    overflow-y: scroll;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 751;
  }

  &__Content {
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    margin: auto;
    max-height: 100%;
    position: relative;

    .formFooter {
      background: #fff;

      .Button.primary {
        background-image: none !important;
        border: none !important;
        border-radius: 4px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding: 10px 14px !important;
        position: relative !important;
        text-shadow: none !important;
        background-color: #bd081c !important;
        border: none !important;

        .buttonText {
          font-size: 14px;
          letter-spacing: -0.15px;
          line-height: 16px;
          word-spacing: 0;

          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: bold;

          color: #fff !important;
        }
      }

      .Button.rounded:not(.primary) {
        background-image: none !important;
        border: none !important;
        border-radius: 4px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding: 10px 14px !important;
        position: relative !important;
        text-shadow: none !important;
        background-color: #efefef !important;

        .buttonText {
          font-size: 14px;
          letter-spacing: -0.15px;
          line-height: 16px;
          word-spacing: 0;

          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: bold;

          color: #555 !important;
        }
      }

      .btn.btn.disabled.disabled.Button.primary .buttonText {
        color: #b5b5b5 !important;
      }
    }
  }
}

.BoardCreate {
  width: 600px;
}

.BoardEditBase {
  .standardForm h1 {
    font-weight: normal;
    position: relative;
    padding-right: 42px;
  }

  .learnMore {
    max-width: 331px
  }

  a.learnAboutBoardInvites {
    display: block;
    float: none;
    margin: 3px 0;
  }

  .userSelect.TypeaheadField {
    input {
      width: 100%;
    }

    .userSelect.Typeahead {
      -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.25);
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.25);
      margin: 0 0 3px 2px;
    }
  }

  .boardEditCollaborators {
    overflow-y: auto;
    margin-right: -11px;
    max-height: 160px;
  }
}

.standardForm .learnMore {
  font-size: 11px;
}

.Modal .modalMask, .Modal.webNewContentNewRepin .modalMask, .ReactModal__Overlay {
  background-color: rgba(0,0,0,0.6);
  opacity: 1;
}

.BoardEdit {
  max-width: 600px;
  min-width: 600px;

  .User {
    padding: 4px 0;
    width: auto;
  }
}

.BoardInviteForm {
  margin-bottom: 8px;

  .inviteWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .fillWidth {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
  }

  .TypeaheadField {
    position: relative;
    width: 100%;
    z-index: 100;
  }
}

.formFooter {
  border-radius: 0 0 6px 6px;
  border-top: 1px solid #dadada;
  clear: both;
  padding: 10px 20px;

  .formFooterDelete {
    float: left;
    margin-right: 10px;
  }

  .formFooterButtons {
    float: right;
  }
}

.Typeahead {
  background: #fff;
  border-radius: 6px;
  display: none;
  left: 0;
  right: 0;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
  z-index: -1;

  &.userSelect {
    background: #fff;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    position: absolute;
    text-align: left;
  }
}

.User {
  &.small {
    line-height: 30px;

    .thumbImageWrapper {
      position: relative;
      height: 30px;
      width: 30px;

      img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        vertical-align: top;
      }
    }
  }

  &.thumb {
    overflow: hidden;
    position: relative;

    .thumbImageWrapper, .User.thumb .profileSourceAttributionContent, .User.thumbUserInfo .thumbImageWrapper, .User.thumbUserInfo .profileSourceAttributionContent {
      float: left;
    }

    &.hasText .thumbImageWrapper {
      margin-right: 8px;
    }

    &.small .subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 11px;
      line-height: 14px;
      margin-bottom: 1px;
      margin-top: 1px;
      line-height: 14px;
    }
  }

  .profileSource {
    display: block;
  }
}

.boardCollaboratorsWrapper .BoardInviteForm .inviteButton {
  background-image: none !important;
  border: none !important;
  border-radius: 4px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 10px 14px !important;
  position: relative !important;
  text-shadow: none !important;
}

.ConfirmDialog {
  width: 380px;

  .standardForm>h1 {
  border-bottom: 1px solid #e7e7e7;
    padding-right: 50px;
    white-space: normal;
  }

  .body {
    color: #555;
    font-size: 14px;
    line-height: 21px;
    padding: 21px;
  }

  p {
    margin: 0;
  }
}

.AddPin {
  .addPinForm {
    width: 320px;
  }

  .addPinContent {
    border-radius: 0 0 6px 6px;
    overflow: hidden;
  }

  .addPinButton.borderless {
    background: #f0f0f0;
    border-top: 1px solid #c4c4c4;
    float: left;
    height: 210px;
    width: 50%;

    &:hover{
      background: #fafafa;
    }

    &.addPinUpload {
      border-left: 1px solid #c4c4c4;
    }
  }
}

.Button.addPinButton {
  em {
    display: block;
    margin: 0 auto;
  }

  &.addPinURL em {
    width: 84px;
    height: 84px;
    background: url(webapp-common-main-1x.png) -129px 0 no-repeat;
    margin-bottom: 36px;
  }

  &.addPinUpload em {
    width: 72px;
    height: 77px;
    background: url(webapp-common-main-1x.png) 0 -97px no-repeat;
    margin-bottom: 43px;
  }

  span {
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  }
}

.PinEdit {
  max-width: 675px;

  .PinForm .standardForm>ul {
    overflow: visible;
    margin-right: 170px;
  }

}

.PinForm {
  .PinPreview {
    position: relative;
    overflow: hidden;
    background: #f7f7f7;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    float: right;
    height: 147px;
    margin: 15px 15px 0 0;
    position: relative;
    width: 147px;
    margin-right: 20px;

    &::after {
      border-radius: 0;
      -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.33) inset;
      box-shadow: 0 0 2px rgba(0,0,0,0.33) inset;
      content: " ";
      height: 149px;
      left: 0;
      position: absolute;
      top: 0;
      width: 149px;
    }

    img {
      bottom: 0;
      display: block;
      left: 0;
      margin: auto;
      max-height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }

  .standardForm>ul {
    width: 500px;
  }

  .BoardPickerDropdownButton {
    width: 100%;
  }
}

.PlaceSelector {
  .placeFieldWrapper {
    position: relative;
  }

  .searchIcon {
    width: 16px;
    height: 17px;
    background: url(webapp-common-main-1x.png) -295px -190px no-repeat;
    display: inline-block;
    left: 10px;
    position: absolute;
    top: 10px;
    vertical-align: middle;
    z-index: 49;
  }

  .addPlaceToPinForm {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    position: relative;
    width: 100%;

    .field {
      padding: 9px 30px;
    }
  }
}

.hidden {
  display: none;
}


.Dropdown2 {
  -webkit-transform: translateZ(0);
  background: #fbfbfb;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  display: none;
  margin-left: -6px;
  position: absolute;
  top: 23px;
  z-index: 752;

  &.visible {
    display: block;
  }
}

.BoardPicker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  visibility: hidden;

  &.inPopover {
    padding: 8px;
    visibility: visible;
  }

  .SelectList {
    overflow: auto;
  }

  &.inPopover .SelectList {
    max-height: 300px;
    width: 300px;

    .sectionHeading {
      background: #f0f0f0;
      border-radius: 3px;
      font-weight: bold;
    }
  }
}

.Picker {
  .top {
    overflow: hidden;
    margin-bottom: 9px;
  }

  .nameWrapper {
    overflow: hidden;
    padding-right: 10px;
  }

  .name {
    width: 100%;
  }

  .selectionBody {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding-bottom: 7px;
  }
}
