.AddPinRep {
  background: rgba(0,0,0,0.03);
  border: 2px dashed #bbb;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #888;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  width: 236px;
  height: 284px;

  &.Module {
    border: 1px solid #efefef;

    -webkit-font-smoothing: antialiased;

    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 16px;
    word-spacing: 0;

    background: transparent;
    border: 1px solid #efefef;
    border-radius: 8px;
    color: #b5b5b5;
    width: 236px;

    &::after {
      background: rgba(0,0,0,0.05);
      border-radius: 8px;
      content: " " !important;
      height: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
      transform: scale(0.96);
      width: 100%;
      z-index: 3;
      margin: -10px;
      padding: 10px;
    }

    &:hover {
      border: 1px solid #efefef;
      color: #b5b5b5;

      &::after {
        animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
      }
    }

    i {
      background: none;
      border: none;
      box-shadow: none;
    }
  }

  i {
    background: #ececec;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    bottom: 50%;
    -webkit-box-shadow: 0 0 2px #fff inset;
    box-shadow: 0 0 2px #fff inset;
    height: 44px;
    left: 50%;
    margin-left: -22px;
    margin-bottom: -8px;
    position: absolute;
    width: 44px;

    &::before {
      width: 40px;
      height: 40px;
      background: url(webapp-common-above_the_fold-1x-2.png) -124px -110px no-repeat;
      display: inline-block;
      font: 0 / 0 serif;
      text-shadow: none;
      color: transparent;
      content: " ";
    }
  }

  span {
    left: 0;
    margin-top: 18px;
    position: absolute;
    right: 0;
    top: 50%;
  }
}
