<div class="Header Module full" data-component-type="8">
  <div class="headerContainer centeredWithinWrapper">
    <div class="rightHeaderContent">
      <div class="Module RightHeader" data-component-type="8">
        <%= link_to user_path(current_user), class: "userProfile UserNavigateButton merged" do %>
        <!-- <button class="Module UserNavigateButton merged" data-element-type="40"> -->
          <div class="usernameLink">
            <div class="Image Module profileImage unknownImage">
              <div class="heightContainer">
                <img src="#" data-load-state="pending" alt="#">
              </div>
            </div>
          </div>
        <!-- </button> -->
        <% end %>
        <div class="DenzelReactBridge Module">
          <div style="position:relative;float:right;" data-reactroot="" data-reactid="1" data-react-checksum="-696351297">
            <button class="Button DropdownButton Module NewsConversationsButton block px2 py1" type="button" data-reactid="2">
              <em data-reactid="3"></em>
              <span class="accessibilityText" data-reactid="4">お知らせ</span>
            </button>
            <div class="Badge" style="display:none;" data-reactid="5">0
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="leftHeaderContent">
      <a class="Button Module NavigateButton btn hasIcon logoHeader leftRounded rounded" data-element-type="244" data-force-refresh="2" href="/" type="button" data-turbolinks="false">
        <em></em>
        <span class="accessibilityText">ホームフィード</span>
      </a>
      <div class="categoriesMenuReactWrapper categoriesMenuExp">
        <div class="DenzelReactBridge Module">
          <div data-reactroot="" data-reactid="1" data-react-checksum="1916786753">
            <div style="position:relative;float:right;" data-reactid="2">
              <div style="position:relative;" data-reactid="3">
                <a class="Button DropdownButton Module btn categoriesHeader exploreCategoriesMenu" href="/discover/" type="button" data-reactid="4">
                  <em data-reactid="5">                    </em>
                  <span class="accessibilityText" data-reactid="6">トピックや他のリンクを見てみる</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Module SearchForm buttonOnRight guided tokenized" data-component-type="43">
        <form action="/search/" method="GET" name="search">
          <div class="Module TypeaheadField buttonOnRight guided">
            <div class="tokenizedInputWrapper">
              <em></em>
              <div class="Module TokenizedInput guided typeaheadWithTitles">
                <div class="scrollWrapper" style="overflow-x: hidden;">
                  <ul class="tokensWrapper" style="width: 870px;">
                    <li class="tokenizedItem inputToken" style="width: 870px;">
                      <label>
                        <span class="visuallyHidden">検索</span>
                        <input autocomplete="off" class="Input Module field" data-element-type="227" name="q" placeholder="検索">
                      </label>
                    </li>
                  </ul>
                </div>
                <a class="removeAll hidden">
                  <em></em>
                </a>
              </div>
            </div>
            <div class="Module Typeahead buttonOnRight guided typeaheadWithTitles">
              <ul class="results" data-component-type="35">
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="Module SearchAutocorrect">
  </div>
</div>
